@model SchoolEventMvc.Models.Domain.Event
@{
}
<form class="w-40" asp-action="Add" method="post" enctype="multipart/form-data">
    <h2 class="pb-10">Add Event</h2>

    <div class="input-container">
        <label asp-for="Title" class="w-40">Genre Name</label>
        <input type="text" class="input" asp-for="Title">
    </div>
    <div class="message-box pd-x-28 error">
        <span asp-validation-for="Title"></span>
    </div>


    <div class="input-container">
        <label asp-for="ImageFile" class="w-40">Event Image</label>
        <input type="file" asp-for="ImageFile">
    </div>
    <div class="message-box pd-x-28 error">
        <span asp-validation-for="ImageFile"></span>
    </div>



  <div class="input-container">
      <label asp-for="Title" class="w-40">Genre</label>
      <select asp-items="Model.GenreList" class="input" asp-for="Genres" multiple>
      <option value="">--select--</option>
        </select>
  </div>
  <div class="message-box pd-x-28 error">
      <span asp-validation-for="Genres"></span>
  </div>



    <div class="input-container">
        <label asp-for="EventDate" class="w-40">Event Date</label>
        <input type="text" class="input" asp-for="EventDate">
    </div>
    <div class="message-box pd-x-28 error">
        <span asp-validation-for="EventDate"></span>
    </div>


    <div class="input-container">
        <label asp-for="Organizer" class="w-40">Organizere</label>
        <input type="text" class="input" asp-for="Organizer">
    </div>
    <div class="message-box pd-x-28 error">
        <span asp-validation-for="Organizer"></span>
    </div>


    <div class="input-container">
        <label asp-for="Coordinator" class="w-40">Coordinator</label>
        <input type="text" class="input" asp-for="Coordinator">
    </div>
    <div class="message-box pd-x-28 error">
        <span asp-validation-for="Coordinator"></span>
    </div>
    @if (TempData["msg"] != null)
    {
        <div class="alert mb-1">
            @TempData["msg"]
        </div>
    }

    <div class="input-container">
        <button class="btn btn-default" type="submit">Save</button>
        <a class="btn btn-sec" href="/Event/EventList">Display All Records</a>
    </div>
</form>