@{
}

<h2 > About Us </h2>
<p>
    DDU Events started on 17th March, 2012 with an aim to ‘Connect all faculties of Dharmsinh Desai University and to provide a platform for all students to showcase their creativity.
    The journey began with a 16 page tabloid by the tagline “For the students, By the students”. 
    DDU Events covers all the latest events happening around the university. 
    It also interviews various eminent personas across the country and alumni of the university. 
    DDUEvents has grown exponentially since its launch. It held a Photography exhibition and played an active part in the University Foundation Day event, which witnessed a Guinness record being established. Evolving from a 20 page tabloid in to a ‘GoGreen’ concept, Events celebrates one year into the official digital platform of the university. It’s been a decade and DDU Events stands tall. It was only possible due to the perseverance of the team members of the Events. The online sessions could not stop us from organizing events and contests. 
    DDU Events still strives to redefine the conventions against all odds.
</p>