@model SchoolEventMvc.Models.DTO.EventListVm
<section class="search-bar">
    <form>
        <input type="text" placeholder="search here">
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>
</section>
<section class="movies">
    @foreach (var book in Model.EventList)
    {
        <div class="movie-card" onclick="window.location.href='/movie-detail.html'">
            <div class="movie-image">
                <img src="/Uploads/@book.EventImage">
            </div>
            <div class="movie-info">
                <h4>@book.Title</h4>
                <h4>@book.Genres</h4>
                <h4>Publisher: @book.Organizer</h4>
                <h4>Author: @book.Coordinator </h4>
            </div>
        </div>

    }


</section>

<div class="pagination">
    <a href="#">&laquo;</a>
    <a href="#">1</a>
    <a class="active" href="#">2</a>
    <a href="#">3</a>
    <a href="#">4</a>
    <a href="#">5</a>
    <a href="#">6</a>
    <a href="#">&raquo;</a>
</div>